<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    context = {'types': types,
               'goods_banners': goods_banners,
               'promotion_banners': promotion_banners}
{#    <br>#}
{#{% for t in types %}#}
{#<h3 class="fl" id="model0{{ forloop.counter }}">{{ type1.name }}</h3>#}
{#<div class="goods_banner fl"><img src="{{ t.image.url }}"></div>#}
{# {{ t.image_banners }}#}
{#{% for i in t.image_banners %}#}
{#        {{ i.sku }}#}
{#        <a href="{% url 'goods:detail' i.sku.id %}">{{ i.sku.name }}</a>#}
{# {% endfor %}#}
{#    <br>#}
{#{% endfor %}#}
{#    <a>-------------------------------------------------------------------------</a>#}
{% for t1 in types %}

    {{ t1.name }}
     {% for i in t1.image_banners  %}
{#         {% for i in t1.image_banner %}#}
{#    {% for i in t1.image_banners %}#}
         {{ i.sku.name }}
      {% endfor %}
    {% endfor %}

</body>
</html>